body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

:root {
  --start-color: #cc2e95;
  --end-color: #e7a53c;
}

.game-container {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  
}

#start-comarca {
  color: var(--start-color);
  font-weight: bold;
}

#end-comarca {
  color: var(--end-color);
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#map-container {
  border: 1px solid #ddd;
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
  background-color: white;
}

input {
  width: 60%;
}

button.guess-button {
  margin-left: 10px;
}

.feedback-message {
  font-size: 1rem;
  margin-top: 10px;
}
