body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

:root {
  --start-color: #cc2e95;
  --end-color: #3c64e7;
}

.game-container {
  max-width: 450px;
  margin: 20px auto;
  text-align: center;
  
}

#start-comarca {
  color: var(--start-color);
  font-weight: bold;
}

#end-comarca {
  color: var(--end-color);
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#map-container {
  border: 1px solid #ddd;
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
  background-color: white;
  margin-bottom: 10px;
}

input {
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
}

button.guess-button {
  margin-left: 10px;
  padding: 10px 10px;
}

.feedback-message {
  font-size: 1rem;
  margin-top: 10px;
}

.guess-history {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.guess-box {
  display: inline-block;
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #f9f9f9;
  margin-right: 1px;
}